:root {
  background-color: black;
  font-family: "Poppins", sans-serif;
}

body {
  padding-left: 50px;
  color: white;
}
header {
  height: 60px;
  margin-bottom: 40px;
}

header img {
  width: 150px;
  align-items: center;
}

/* Section */

section {
  display: flex;
  flex-direction: column;
  width: 1240px;
}
section div {
  display: flex;
  flex-wrap: nowrap;
  width: 1300px;
  overflow: scroll hidden;
  /* Hide scrollbar for Chrome, Safari and Opera */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  margin-top: 20px;
  margin-bottom: 20px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
section div::-webkit-scrollbar {
  display: none;
}

section img {
  flex-shrink: 0;
  height: 182px;
  object-fit: cover;
  box-sizing: border-box;
}
